@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;
        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;
        --primary: 235 57% 51%;
        --primary-foreground: 210 40% 98%;
        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;
        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;
        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;
        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;
        --radius: 0.5rem;
        --sidebar-background: 0 0% 98%;
        --sidebar-foreground: 240 5.3% 26.1%;
        --sidebar-primary: 240 5.9% 10%;
        --sidebar-primary-foreground: 0 0% 98%;
        --sidebar-accent: 240 4.8% 95.9%;
        --sidebar-accent-foreground: 240 5.9% 10%;
        --sidebar-border: 220 13% 91%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;
        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;
        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;
        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;
        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;
        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;
        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;
        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;
        --sidebar-background: 240 5.9% 10%;
        --sidebar-foreground: 240 4.8% 95.9%;
        --sidebar-primary: 224.3 76.3% 48%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 240 3.7% 15.9%;
        --sidebar-accent-foreground: 240 4.8% 95.9%;
        --sidebar-border: 240 3.7% 15.9%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }
} */

@layer base {
    :root {
        --background: 240 5% 95%;
        --foreground: 240 5% 10%;
        --card: 240 5% 95%;
        --card-foreground: 240 5% 10%;
        --popover: 240 5% 95%;
        --popover-foreground: 240 5% 10%;
        --primary: 220 80% 50%;
        --primary-foreground: 220 90% 95%;
        --secondary: 260 25% 85%;
        --secondary-foreground: 240 20% 20%;
        --muted: 260 15% 90%;
        --muted-foreground: 260 10% 40%;
        --accent: 260 15% 90%;
        --accent-foreground: 240 5% 10%;
        --destructive: 0 70% 55%;
        --destructive-foreground: 0 0% 98%;
        --border: 260 25% 85%;
        --input: 260 25% 85%;
        --ring: 220 80% 50%;
        --radius: 0.5rem;
        --chart-1: 220 80% 50%;
        --chart-2: 260 40% 60%;
        --chart-3: 280 60% 70%;
        --chart-4: 200 60% 50%;
        --chart-5: 240 50% 50%;

        --sidebar-background: 240 5% 92%;
        --sidebar-foreground: 240 5% 38%;
        --sidebar-primary: 220 80% 50%;
        --sidebar-primary-foreground: 220 90% 95%;
        --sidebar-accent: 260 15% 87%;
        --sidebar-accent-foreground: 240 5% 10%;
        --sidebar-border: 260 25% 82%;
        --sidebar-ring: 220 80% 47%;
    }

    .dark {
        --background: 240 10% 5%;
        --foreground: 220 50% 90%;
        --card: 240 10% 5%;
        --card-foreground: 220 50% 90%;
        --popover: 240 10% 5%;
        --popover-foreground: 220 50% 90%;
        --primary: 220 80% 50%;
        --primary-foreground: 220 90% 95%;
        --secondary: 260 25% 25%;
        --secondary-foreground: 220 50% 85%;
        --muted: 260 15% 15%;
        --muted-foreground: 220 60% 70%;
        --accent: 260 15% 15%;
        --accent-foreground: 220 50% 90%;
        --destructive: 0 80% 50%;
        --destructive-foreground: 220 90% 95%;
        --border: 260 25% 25%;
        --input: 260 25% 25%;
        --ring: 220 80% 50%;
        --radius: 0.5rem;
        --chart-1: 220 70% 40%;
        --chart-2: 260 60% 50%;
        --chart-3: 240 50% 60%;
        --chart-4: 280 70% 70%;
        --chart-5: 200 50% 50%;

        --sidebar-background: 0 0% 0%;
        --sidebar-foreground: 220 50% 63%;
        --sidebar-primary: 220 80% 42%;
        --sidebar-primary-foreground: 220 90% 95%;
        --sidebar-accent: 260 15% 7%;
        --sidebar-accent-foreground: 220 50% 90%;
        --sidebar-border: 260 25% 17%;
        --sidebar-ring: 220 80% 42%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}